html, body {
    height: 100%;
    overflow: hidden;
  }
  
  body {
    background: #ffffff;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
  
    100% {
      background-position: 0 0, -75px -75px, -75px -75px, 0 0, 0 0;
    }
  }
  
  

.social-footer a{
    font-size: 30px;
    margin: 15px;
    color: #6d7581;
};
}

body a:hover
{
    color: #685bd8;
}


.wrapper {
    margin: auto;
    text-align: center;
}

.wrapper::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 8);
    left: 0;
    right: 0;
    z-index: -1;
    height: 52%;
    width: 50%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
}


.wrapper-grid {
    max-width: 960px;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 40px;
}


body {
  min-height: 320vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
  box-sizing: border-box;
}



a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

.nicescroll-rails-vr:hover
{
    cursor: pointer !important;
}

.content-1170
{
    width: 1170px;
}

.content-970
{
    width: 970px;
}

.content-770
{
    width: 770px;
}

.content-1170 img, .content-970 img, .content-770 img
{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.header-holder
{
    width: auto;
}

.center-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}


.bannerbg {
    height: 530px;
    display: flex;
    z-index: -20;
    justify-content: center;
    width: 100%;
    background: rgb(255, 255, 255);
    animation: move 15.5s linear infinite;
    background-image: radial-gradient(ellipse, rgba(255, 255, 255, 0) 20%,
     rgba(255, 255, 255, 0.267) 40%, #ffffff 65%), repeating-linear-gradient(to bottom, 
     transparent 0 75px, #ffffff 75px 76px), repeating-linear-gradient(to 
     right, transparent 0 75px, #ffffff 75px 76px), radial-gradient(ellipse 500px 600px 
     at 50% 60%, #ffffff, transparent), radial-gradient(circle 300px at 40% 40%, #8e1765, #ffffff);
}
         

.banner {
    place-self: center;
    width: 950px;
    background-repeat: no-repeat;
    background-size: 100%;
    /* background: linear-gradient( 
        78deg
        , rgb(18, 16, 34) 0%, rgb(65 79 195) 170%);
            padding: 3px; */
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    /* background: linear-gradient(90deg, rgba(225,248,255,1) 0%, rgba(255,201,150,1) 51%, rgba(255,193,215,1) 77%, rgba(191,255,220,1) 92%);     background: #191c29;
 */
}


.banner-gnt{
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    margin-bottom: 15px;
}

.index-pic {
    padding: 0;
    display: flex;
    justify-content: center;
}

.header-logo
{
    padding: 80px 0;
}

.header-logo img
{
    transition: opacity 0.3s linear;
}

.header-logo img:hover
{
    opacity: 0.2;
}

.logged-in .menu-wraper
{
    top: 32px;
    height: calc(100% - 32px);
}

.title {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;    
    font-weight: 700;
    color: #bd6e6e;
    text-align: center;
}

.title2 {
    font-size: 25px;
    font-family: 'Roboto';    
    font-weight: 200;
    color:  #2d4754;
    text-align: center;
    margin-bottom: 22px;
}


.title-h3 {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: #727272;
    text-transform: uppercase;
    line-height: 1.5;
}

.about {
    font-size: 36px;
    font-family: 'Raleway';
    font-weight: 800;
    color: #2d4754;
}

.about2 {
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 200;
    color: #2d4754;
    margin: 10px;
}

.description {
    font-size: 35px;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 1.4;
    color: #393942;
    margin: 30px;
}

.aboutme {
    margin: 10px;
}

.content-portfolio {
    width: 100%;
}

.tag {
    background-color: #35385045;
    border-radius: 50px;
    padding: 4px;
    font-size: 14px;
    color: #a9a9a9;
    display: inline;
    margin: 7px;

}

.grid {
    display: grid;
    max-height: 300px;
    width: 100%;
    grid-gap: 3rem;
    row-gap: 20px;
    line-height: 1.2;
    justify-content: center;
    grid-template-columns: repeat(3, 240px);
    grid-template-rows: repeat(3, 310px);;
    grid-template-areas:
    "three three three"
     "one one two"
    "four four four";       
}


.grid2 {
    display: flex;
    grid-gap: 2rem;
}


.text {
    padding: 0 40px;
    display: flex;
    column-gap: 57px;
    margin-bottom: 30px;
}

.one {
    grid-area: one;
    border-radius: 5px;
    box-shadow: 0px 17px 18px -7px rgb(0 0 0 / 15%);
    max-width: 800px;
    border-radius: 0.25rem;
    display: flex;
    overflow: hidden;
    &:hover {
      .card__image {
        filter: contrast(50%);
      }
    }
}

.two {
    grid-area: two;
    box-shadow: 0px 17px 18px -7px rgb(0 0 0 / 15%);
    border-radius: 5px;
    max-width: 800px;
    border-radius: 0.25rem;
    display: flex;
    overflow: hidden;
    &:hover {
      .card__image {
        filter: contrast(100%);
        padding: 10px;
      }
    }
}

.three {
    grid-area: three;
    box-shadow: 0px 17px 18px -7px rgb(0 0 0 / 15%);
    border-radius: 0.25rem;
    display: flex;
    overflow: hidden;
    &:hover {
        .card__image {
          filter: contrast(100%);
          padding: 10px;
        }
    }
}

.four {
    grid-area: four;
    box-shadow: 0px 17px 18px -7px rgb(0 0 0 / 15%);
    border-radius: 0.25rem;
    display: flex;
    overflow: hidden;
    &:hover {
        .card__image {
          filter: contrast(100%);
        }
      
    }
}

.five {
    box-shadow: 0px 17px 18px -7px rgb(0 0 0 / 15%);
    border-radius: 0.25rem;
    overflow: hidden;
    &:hover {
        .card__image {
          filter: contrast(100%);
        }
    }
}

.six {
    box-shadow: 0px 17px 18px -7px rgb(0 0 0 / 15%);
    border-radius: 0.25rem;
    overflow: hidden;
    &:hover {
        .card__image {
          filter: contrast(100%);
        }
    }
}

.seven {
    box-shadow: 0px 17px 18px -7px rgb(0 0 0 / 15%);
    border-radius: 0.25rem;
    overflow: hidden;
    &:hover {
        .card__image {
          filter: contrast(100%);
        }
    }
}


.card {
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &:hover {
      .card__image {
        filter: contrast(100%);
      }
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
  box-sizing: border-box;
}

body {
    min-height: 220vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
    box-sizing: border-box;
  }


.cards {
    width: 100%;
    justify-content: center;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url(/demo-images/gnt2.png);
    left: 0;
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url(/demo-images/kepler.png);
    left: 0;
}

.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url(/demo-images/peninsula.png);
    left: 0;
}

.card--4 .card__img, .card--4 .card__img--hover {
    background-image: url(/demo-images/components.png);
    left: 0;
}

.card--5 .card__img, .card--5 .card__img--hover {
    background-image: url(/demo-images/joined.png);
    left: 0;
}

.card--6 .card__img, .card--6 .card__img--hover {
    background-image: url(/demo-images/pancho.png);
    left: 0;
}

.card--7 .card__img, .card--7 .card__img--hover {
    background-image: url(/demo-images/efevoo.png);
    left: 0;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 295px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
  height: 292px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
}

.card {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background: #fdfdfd;
  width: 100%;  
  height: 100%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.card:hover {
    box-shadow: 0px 17px 18px -7px rgb(0 0 0 / 59%);
        transform: scale(1.10, 1.10);
    padding: 10px;
    margin: 10px;
}

.card__info {
    z-index: 2;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
  margin-top: 0px;
margin-bottom: 0px;

}

.card__title {
    font-family: 'Raleway';
    color: #504f4a;
    font-size: 23px;
}

.card__title__center {
    font-family: 'Raleway';
    color: #504f4a;
    font-size: 18px;
    text-align: center;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #ffa658;
}

.card:hover .card__img--hover {
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    position: relative;

}

.card:hover .card__info-hover {
    opacity: 1;
}






/*RED*/
.b-red, .b-red:before {
    background: rgb(199, 157, 44);
    background: -moz-linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(242,168,103) 0%, rgb(22, 140, 236) 100%);
    background: -o-linear-gradient(45deg, rgb(255, 37, 157) 0%, rgba(188,26,99,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(234,110,72,1) 0%, rgba(188,26,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea6e48', endColorstr='#bc1a63', GradientType=1 );
  }



/*BASE BUTTON*/
.button {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    text-decoration: none;
    padding: .5em;
    margin: .5em;
    font-size: 1em;    font-weight: bold;
    transition: all .5s;
    
  }
  .button:hover {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, .75);
  }
  .button:hover:after {
    left: 100%;
    top: 100%;
    bottom: 100%;
    right: 100%;
  }
  .button:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 5px;
    transition: all .5s;
  }
  .button:after {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    z-index: -1;
    border-radius: 5px;
    transition: all .5s;
  }
  .button2 {
    display: inline-block;
    font-size: 1.5em;
        margin: .5em;
    padding: .5em;
    border-radius: 5px;
    transition: all .5s;
    filter: hue-rotate(0deg);
    color: #FFF;
    text-decoration: none;
    width: 330px;
    text-align: center;
    margin-bottom: 35px;
  }
  /*END BASE BUTTON*/
  /*ROTATE*/
  .rot-360-noscoop:hover {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
    color: #FFF;
    text-decoration: none;
  }
  .rot-135:hover {
    filter: hue-rotate(135deg);
    color: #FFF;
    text-decoration: none;
  }
  .rot-90:hover {
    filter: hue-rotate(90deg);
    color: #FFF;
  }
  /*END ROTATE*/
}


/* RESPONSIVE PART */

@media screen and (max-width: 1600px) {

    .content-1170
    {
        max-width: 90%;
    }

    


    .content-970, .single-post .site-content
    {
        max-width: 90%;
    }

    .content-770
    {
        max-width: 90%;
    }
}

@media screen and (max-width: 1450px) {
    .grid {
        display: grid;
        max-height: 300px;
        width: 100%;
        grid-gap: 5rem;
        justify-content: center;
        grid-template-rows: 400px 400px 400px;
        grid-template-areas:
        "three three three"
         "one one two"
        "four four four";       
    }


}

@media screen and (max-width: 1220px) {
    .grid {
        display: grid;
        max-height: 300px;
        width: 100%;
        grid-gap: 5rem;
        grid-template-rows: 400px 400px 400px;
        grid-template-areas:
        "three three three"
         "one one two"
        "four four four";       
    }

}

@media screen and (max-width: 1066px) {

    .grid {
        display: grid;
        max-height: 300px;
        width: 100%;
        grid-gap: 5rem;
        grid-template-columns: 1fr;
        background-color: #222222;
        grid-template-rows: 400px 400px 400px;
        grid-template-areas:
        "three three three"
         "one one two"
        "four four four";       
    }

    .banner {
        height: 870px
    }

    

    .one_half {
        width: 900px;
        padding: 22px;
    }

    .text
    {
        flex-direction: column;
        align-items: center;
        text-align-last: center;
    }


    .description {
        font-size: 35px;
    }

    .title-h3 {
        font-size: 30px;
    }


    .menu-wraper
    {
        border-width: 10px;
    }

}

@media screen and (max-width: 1020px) {

    .grid {
        display: grid;
        max-height: 300px;
        width: 100%;
        grid-gap: 5rem;
        grid-template-columns: 1fr;
        background-color: #222222;
        grid-template-rows: 400px 400px 400px;
        grid-template-areas:
        "three three three"
         "one one two"
        "four four four";
    }

}


@media screen and (max-width: 925px) {

.grid {
    display: grid;
    max-height: 300px;
    width: 100%;
    grid-gap: 5rem;
    grid-template-columns: 1fr;
    background-color: #222222;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas:
    "three three three"
     "one one two"
    "four four four";
}


@media screen and (max-width: 805px) {

    
    .banner {
        height: 950px
    }
    .card {
        box-shadow: 0px 17px 18px -7px rgb(0 0 0 / 29%)
    }

    .card__category {
        margin-bottom: auto;
    }

    .grid {
        display: block;
    }

    .one, .two, .three, .four, .five {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 782px)
{

}


@media screen and (max-width: 650px) {

    .card {
        margin-bottom: 20px;
    }

    .card__info {
        margin-left: 0px;
    }

    .one, .two, .three, .four, .five {
        box-shadow: none;
    }

}

.card__img {
    visibility: hidden;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 222px; 
    }

    .grid {
        margin: 15px;
        width: 100%;
    }

    .one, .two, .three {
        padding: 0px;
    }

    .card__img--hover {
        height: 220px;
    }
}


@media screen and (max-width: 320px) {

    .text {
        text-align: left;
        font-size: 20px;
        align-items: flex-start;
        text-align-last: inherit;
    }

    .one_half {
        width: auto;
    }

    .banner-gnt {
        width: 100%;
    }
}

.card__img {
    visibility: hidden;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 222px; 
    }

    .grid {
        margin: 15px;
        width: 100%;
    }

    .one, .two, .three {
        padding: 0px;
    }

    .card__img--hover {
        height: 220px;
    }
}
